<div class="general">
    <h1 class="title center-align">Tareas y sus Usuarios</h1>
    <p>En esta aplicacion se encuentran tanto las tareas divididas por completadas y sin completar con su ID o numero,
        y el nombre de la tarea para informacion del usuario, tambien está la funcionalidad de poder informarse mas profundamente
        ya que está la opcion de dar click en una tarea y poder observar informacion del usuario a cargo de la tarea, 
        como tambien informacion extra sobre la tarea
    </p>
    
    <hr>
    <p>Para la realizacion de este proyecto fue indispensable utilizar la API de JsonPlaceHolder para poder tener la informacion comentada
        anteriormente a mano, tambien recalcar que esta aplicacion fue desarrollada con Angular y framework de diseño Materialize.
        Los componentes y servicio fueron de gran ayuda para el orden y entendimiento en el desarrollo de la aplicacion
    </p>
</div>
